src/main/mule/user-implementation-v2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="4887eacc-0d40-414c-bfbe-9ef243f19c85" >
		<wsc:connection wsdlLocation="http://api.icraftsoft.net:5858/ws/users.wsdl" service="UserPortService" port="UserPortSoap11" address="http://api.icraftsoft.net:5858/ws" />
	</wsc:config>
	<flow name="GetAllUsers" doc:id="24a244b9-31a7-45d6-bdc3-397e59fb0b3c" >
		<ee:transform doc:name="Transform Message" doc:id="d6560416-2083-451d-aad2-797bdc843abf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.craftsoftware.com/users
---
{
	ns0#GetAllUsersRequest: null
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="GetAllUsers" doc:name="Consume" doc:id="6f2db3a9-7e7a-4c9a-930f-14e02a1ef878" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="13b56adc-8b82-41da-9928-b12865899208" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.body.GetAllUsersResponse.Users]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="GetUser" doc:id="804e1fa7-fe93-4ae6-aba0-c928b46dd2cf" >
		<ee:transform doc:name="Transform Message" doc:id="eff8d4f1-9c1a-4317-9813-e078c7b2f22d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.craftsoftware.com/users
---
{
	ns0#GetUserRequest: {
		ns0#id: vars.id
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="GetUser" doc:name="Consume" doc:id="75f133f9-a393-48a0-9fb4-5e252a70ee0c" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="c56fd7c0-1a04-4e8c-98f3-1aa5434e8c68" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.body.GetUserResponse.*User]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
